@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

*{ 
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App{
  text-align:center;
height:100vh;
width:100vw;
 background-image:url("./assets/assets/background/parallax-bg.gif");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:40% 40%;
  color:white;
  background-color: #191919;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.mintnft{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}